{% extends 'base.html' %}

{% block title %}{{pet.name}}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="display-1 text-center">Pet Details</h1>
        </div>
        <div class="row mt-3 justify-content-center">
            <div class="col-3 mx-2 border my-2">
                {% if pet.photo_url %}<img src="{{pet.photo_url}}" class="img-fluid">{% endif %}
                <h1 class="display-5">{{pet.name}}</h1>
                {% if pet.available %}<p class="fw-bold d-inline">Available</p>{% endif %}
            </div>
        </div>
        <div class="col text-center my-3">
            <h2>Edit Info</h2>
            <form method="POST">
                {% include "_form.html" %}
                <a href="/" class="btn btn-lg btn-danger mt-3">Cancel</a>
                <button class="btn btn-lg btn-success mt-3">Save Changes</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}